*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 375px;
    height: 100vw;
    margin: 0 auto;
    background-color: #f3f3f3;
}
header{
    position: fixed;
    max-width: 375px;
    height: 80px;
    margin: 0 auto;
    left: 0px;
    top: 0px;
    right: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    position: absolute;
    width: 75px;
    height: 53px;
    top: 16px;
    left: 22px;
}
header ion-icon{
    position: absolute;
    font-size: 45px;
    right: 21px;
    top: 18px;
    
}
main{
    margin-top: 80px;
    padding-top: 26px;
}
main div{
    margin-bottom: 4px;
}
.notificacao{
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
    border-radius: 2px;
    
}
.mensagem-status{
    background: #DCDCDC;
}
.mensagem-normal{
    background: #FFFFFF;
}
.mensagem-reservada{
    background: #FFDEDE;
}
main p{
    margin: 0 9px 0 8px;
    font-size: 14px;
    line-height: 20px;
}
small{
    font-weight: 400;
    color: #AAAAAA;
}
b{
    font-weight: 700;
    color: #000000;
}
footer{
    display: flex;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    width: 375px;
    height: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input{
    position: absolute;
    border: none;
    width: 145px;
    height: 30px;
    left: 17px;
}
footer input::-webkit-input-placeholder {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #000000;
}
input:focus{
    outline: none;
    font-size: 18px;
}
footer ion-icon{
    position: absolute;
    font-size: 26px;
    right: 27px;
    top: 27px;
}
aside{
    display: flex;
    margin: 0px auto;
    align-items: flex-end;
    width: 375px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
}
.conteudo-sidebar{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 259px;
    height: 100vh;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.titulo-secao{
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-secao p{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.usuarios-sidebar { 
    display: none;
    justify-content: start;
    align-items: center;
    margin-top: 1px;
    height: 36px;
}
.usuarios-sidebar p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.todos-usuarios-sidebar { 
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1px;
    height: 36px;
}
.todos-usuarios-sidebar p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
aside ion-icon{
    font-size: 25px;
    margin: 0px 5px 0px 17px;
}
.modo-publico{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1px;
    height: 36px;
}
.modo-publico p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.modo-reservado{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1px;
    height: 36px;
}
.modo-reservado p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
::-webkit-scrollbar {
    display: none;
}